{% load static %}

<aside class="sidebar col-12 col-lg-3 order-2 order-lg-1">
    <div class="sidebar-inner default">
        <div class="widget-banner widget card">
            <a href="#" target="_top">
                <img class="img-fluid" src="{% static 'assets/img/banner/1455.jpg' %}" alt="">
            </a>
        </div>
        <div class="widget-services widget card">
            <div class="row">
                <div class="feature-item col-12">
                    <a href="#" target="_blank">
                        <img src="{% static 'assets/img/svg/return-policy.svg' %}">
                    </a>
                    <p>ضمانت برگشت</p>
                </div>
                <div class="feature-item col-6">
                    <a href="#" target="_blank">
                        <img src="{% static 'assets/img/svg/payment-terms.svg' %}">
                    </a>
                    <p>پرداخت درمحل</p>
                </div>
                <div class="feature-item col-6">
                    <a href="#" target="_blank">
                        <img src="{% static 'assets/img/svg/delivery.svg' %}">
                    </a>
                    <p>تحویل اکسپرس</p>
                </div>
                <div class="feature-item col-6">
                    <a href="#" target="_blank">
                        <img src="{% static 'assets/img/svg/origin-guarantee.svg' %}">
                    </a>
                    <p>تضمین بهترین قیمت</p>
                </div>
                <div class="feature-item col-6">
                    <a href="#" target="_blank">
                        <img src="{% static 'assets/img/svg/contact-us.svg' %}">
                    </a>
                    <p>پشتیبانی 24 ساعته</p>
                </div>
            </div>
        </div>



        {% for asb in asbanner %}
            <div class="widget-banner widget card">
                <a href="{{ asb.link }}" target="_blank">
                    <img class="img-fluid" src="{{ asb.image.url }}" alt="{{ asb.title }}">
                </a>
            </div>

        {% endfor %}


    </div>
</aside>

                                    {#    پیشنهادات لحظه ای #}


{#                <div class="widget-suggestion widget card">#}
{#                    <header class="card-header">#}
{#                        <h3 class="card-title">پیشنهاد لحظه ای</h3>#}
{#                    </header>#}
{#                    <div id="progressBar">#}
{#                        <div class="slide-progress"></div>#}
{#                    </div>#}
{#                    <div id="suggestion-slider" class="owl-carousel owl-theme">#}
{#                        <div class="item">#}
{#                            <a href="#">#}
{#                                <img src="{% static 'assets/img/product/692674-200x200.jpg' %}" class="w-100" alt="">#}
{#                            </a>#}
{#                            <h3 class="product-title">#}
{#                                <a href="#"> لپ تاپ ۱۵ اینچی ایسوس مدل FX503VD - A </a>#}
{#                            </h3>#}
{#                            <div class="price">#}
{#                                <span class="amount">5,700,000<span>تومان</span></span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="item">#}
{#                            <a href="#">#}
{#                                <img src="{% static 'assets/img/product/e75a73-200x200.jpg' %}" class="w-100" alt="">#}
{#                            </a>#}
{#                            <h3 class="product-title">#}
{#                                <a href="#"> لپ تاپ ۱۳ اینچی اپل مدل MacBook Pro MLH12 همراه با تاچ بار#}
{#                                </a>#}
{#                            </h3>#}
{#                            <div class="price">#}
{#                                <del><span class="amount">10,300,000<span>تومان</span></span></del>#}
{#                                <span class="amount">1,099,000<span>تومان</span></span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="item">#}
{#                            <a href="#">#}
{#                                <img src="{% static 'assets/img/product/482250-200x200.jpg' %}" class="w-100" alt="">#}
{#                            </a>#}
{#                            <h3 class="product-title">#}
{#                                <a href="#"> لپ تاپ ۱۵ اینچی اپل مدل ۲۰۱۷ MacBook Pro MPTT2 همراه با#}
{#                                    تاچ#}
{#                                    بار </a>#}
{#                            </h3>#}
{#                            <div class="price">#}
{#                                <del><span class="amount">16,800,000<span>تومان</span></span></del>#}
{#                                <span class="amount">16,286,000<span>تومان</span></span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="item">#}
{#                            <a href="#">#}
{#                                <img src="{% static 'assets/img/product/19a2cc-200x200.jpg' %}" class="w-100" alt="">#}
{#                            </a>#}
{#                            <h3 class="product-title">#}
{#                                <a href="#"> لپ تاپ ۱۳ اینچی اپل مدل MacBook Air MQD32 2017 </a>#}
{#                            </h3>#}
{#                            <div class="price">#}
{#                                <del><span class="amount">6,000,000<span>تومان</span></span></del>#}
{#                                <span class="amount">5,746,000<span>تومان</span></span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}